@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');
:root{
    --fonte1: 'Courier New', Courier, monospace;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive; 
}
*{
    padding: 0px;
    margin: 0px;
}

html, body{
    font-family: var(--fonte1);
    min-height: 100vh;
    background-color: darkgray;
}
header{
    background-color: black;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-family: var(--fonte2);
    font-size: 4vw;
}
a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
header a:hover, footer a:hover{
    background-color: rgba(255, 255, 0, 0.404);
    border-radius: 3px;
    padding: 2px;
}
section{
    font-size: 2.5vw;
    font-family: var(--fonte3);
    font-style: italic;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}
section.normal>p{
    margin-bottom: 15px;
}
section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: darkgray;
    color: white;
}
section.imagem>p{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.500);
    display: inline-block;
    box-shadow: 3px 3px 5px black;
}
section#imagem_joaninha{
    background-image: url('../imagens/background001.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
section#imagem_livro{
    box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.445);
    background-image: url('../imagens/background002.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 0px;
}